name: Smoke Test

on:
  push:
  pull_request:

jobs:
  smoke-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Test CLI entrypoint
        run: |
          proteoflux templates

      - name: Generate template
        run: |
          proteoflux init spectronaut-proteomics --path test_config.yaml
